.search-results{
  background-color: white;
  height: auto;
  position: relative;
  .item-container {
    .detail{
      .data{
        width: 100%;
        .address{
          font-size: 12px;
        }
      }
      img {
        height: 160px;
        width: 198.97px;
        margin: 14px;
        border-radius: 4px;
      }
      .shipping{
        width: 20px;
        height: 20px;
        margin: 0;
      }
      .price{
        font-size: 1.714rem;
        color: #333;
        font-weight: 500;
      }
      .title{
        font-size: 1.286rem;
        color: #333;
        font-weight: 300;
        padding-top: 2rem;
        text-decoration: none;
        &:hover{
          color: #000;
        }
      }
    }
  }
  &:after {
    content: "";
    position: absolute;
    left: 24px;
    bottom: 0;
    height: 1px;
    width: 94.5%;
    border-bottom: 1px solid #eee;
  }
  &:last-child{
    &:after{
      z-index: -1;
    }
  }
}