.Breadcrumbs{
  list-style: none;
  padding: 0;
  color: #666;
  li{
    cursor: pointer;
    &:after{
      content: ">";
      color: #666 !important;
      margin-left: 0.30rem;
    }
    &:last-child{
      &:after{
        content: '';
      }
    }
    &:hover{
      color: #333;
    }
  }
}